<div class="conzent-overlay cnz-hide"></div>
[conzent_revisit_html]
<div id="Conzent"  tabindex="0" class="conzent-[banner_type][display_position]">
  <div class="conzent-inner-content-box" style="border:1px solid [notice_border_color];background-color:[notice_background_color]">
    <div class="conzent-notice">
      <p class="title-wrap" style="color:[notice_title_color]">[conzent_logo] [conzent_cookie_notice_banner_title] </p>
      <div class="content-wrap">
        <div class="msg-wrap" style="color:[notice_description_color]">
        [conzent_cookie_notice_message]
        [privacy_policy_link]
        </div>
        <div class="btn-wrap">
		  [button_wrap]
        </div>
      </div>
	  <div class="notice_button_wrap">[banner_cookie_list][preference_button_wrap]</div>
      <div class="conzent-branding conzent-notice-branding"><div style="min-width:140px;display:flex;">[conzent_branding]</div></div>
    </div>
  </div>
</div>
<div class="conzent-modal conzent-[preference_type][preference_position]" tabindex="0">
  <div class="conzent-preference-center" style="border:1px solid [notice_border_color];background-color:[notice_background_color]">
    <div class="conzent-preference-header"> <span class="conzent-preference-title" style="color:[notice_title_color]">[conzent_preference_center_preference_title]</span>
      <span  id="preCloseBtn" class="cnz-btn-close">[conzent_close_button]</span>
    </div>
    <div class="conzent-preference-body-wrapper">
      <div class="conzent-preference-content-wrapper" style="color:[notice_description_color]">
      <div class="overview_text">[conzent_preference_center_overview]</div>
      [google_privacy_policy]
      </div>
      <div class="conzent-horizontal-separator"></div>
      <div class="conzent-accordion-wrapper cnz-category-table">
       [conzent_cookie_categories] 
        </div>
      </div>
	  <div class="conzent-footer-wrapper"> <span class="cnz-footer-shadow"></span>
      <div class="conzent-prefrence-btn-wrapper">
        [preference_button_wrap]
      </div>
      <div class="conzent-branding"><div style="text-align:left;max-width: calc(100% - 160px);">The choices you make regarding the purposes and entities listed in this notice are saved in a cookie named conzentConsentPrefs for a maximum duration of 12 months.</div><div style="min-width:140px;display:flex;">[conzent_branding]</div></div>
    </div>
   </div>
</div>

