<div class="conzent-overlay cnz-hide"></div>
[conzent_revisit_html]
<div id="Conzent"  tabindex="0" class="conzent-[banner_type][display_position]">
  <div class="conzent-inner-content-box" style="border:1px solid [notice_border_color];background-color:[notice_background_color]">
    <div class="conzent-notice">
      <p class="title-wrap" style="color:[notice_title_color]">[conzent_logo] [conzent_notice_title] </p>
      <div class="content-wrap">
        <div class="msg-wrap" style="color:[notice_description_color]"> [conzent_notice_description] </div>
        <div class="btn-wrap">
		  [button_wrap]
        </div>
      </div>
    </div>
  </div>
</div>
<div class="conzent-modal conzent-[preference_type][preference_position]" tabindex="0">
  <div class="conzent-preference-center" style="border:1px solid [notice_border_color];background-color:[notice_background_color]">
    <div class="conzent-preference-header"> <span class="conzent-preference-title" style="color:[notice_title_color]">[conzent_preference_title]</span>
      <span id="preCloseBtn" class="cnz-btn-close">[conzent_close_button]</span>
    </div>
    <div class="conzent-preference-body-wrapper">
      <div class="conzent-preference-content-wrapper" style="color:[notice_description_color]"> [conzent_preference_description] </div>
      <div class="conzent-horizontal-separator"></div>
      <div class="conzent-accordion-wrapper">
       [conzent_cookie_categories] 
        </div>
      </div>
	  <div class="conzent-footer-wrapper"> <span class="cnz-footer-shadow"></span>
      <div class="conzent-prefrence-btn-wrapper">
        [preference_button_wrap]
      </div>
      <div class="conzent-branding">[conzent_branding]</div>
    </div>
   </div>
</div>

