parameters:
    level: 8
    paths:
        - src
    scanDirectories:
        - vendor
    checkMissingIterableValueType: true
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
